*{padding:0;margin:0;}
.content{width:70%;margin:0 auto;padding:10px 60px;font-family:Arial, Helvetica, sans-serif;background-color:#EEE;}
h2{color:#03C;padding:5px 10px;margin-top:10px;background:#CCC;height:45px;line-height:45px;}
.top-text li{margin:15px auto;line-height:30px;}
.bold{font-weight:bold;}
.italic{font-style:italic;}
a{text-decoration:none;}
.content a:link{color:#03C;}
.content a:visited{color:#03C;}
.content a:hover{text-decoration:underline;}



#nav .title5 a:visited{color:#999;}



.sidebar{margin-top:100px;margin-left:65.48%;position:fixed;}
.sidebar ul{list-style:none;}
.sidebar ul li{font-size:14px;line-height:30px;border-bottom:1px solid #666;text-align:center;}
.title{font-size:16px;font-weight:bold;border-bottom:1px solid #000;color:#000;line-height:30px;padding:0px 5px 5px 0px;}
.content .sidebar ul li a{display:block;color:#000;text-decoration:none;padding:7px 10px;}
.sidebar ul li a:hover{background-color:#999;width:125px;}
